In [1]:
import pandas as pd

In [2]:
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
corpus= ['eu sou professor do curso do BI',
         'Vinicius é aluno do curso do BI e gosta python',
         'Alex é aluno do BI e gosta de NLP e python',
        'Pedro gosta de cafezinho e de python e é flamengo',
        'Samuel é botafogo']

In [4]:
cv = CountVectorizer()
X=cv.fit_transform(corpus)
pd.DataFrame(X.toarray(),columns=cv.get_feature_names_out())

,alex,aluno,bi,botafogo,cafezinho,curso,de,do,eu,flamengo,gosta,nlp,pedro,professor,python,samuel,sou,vinicius
0,0,0,1,0,0,1,0,2,1,0,0,0,0,1,0,0,1,0
1,0,1,1,0,0,1,0,2,0,0,1,0,0,0,1,0,0,1
2,1,1,1,0,0,0,1,1,0,0,1,1,0,0,1,0,0,0
3,0,0,0,0,1,0,2,0,0,1,1,0,1,0,1,0,0,0
4,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [5]:
#palavras menos comuns tem peso maior.

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [7]:
cv = TfidfVectorizer()
X=cv.fit_transform(corpus)
pd.DataFrame(X.toarray(),columns=cv.get_feature_names_out())

,alex,aluno,bi,botafogo,cafezinho,curso,de,do,eu,flamengo,gosta,nlp,pedro,professor,python,samuel,sou,vinicius
0,0.000000,0.000000,0.275868,0.000000,0.000000,0.332335,0.000000,0.551737,0.411921,0.000000,0.000000,0.000000,0.000000,0.411921,0.000000,0.000000,0.411921,0.00000
1,0.000000,0.345865,0.287099,0.000000,0.000000,0.345865,0.000000,0.574198,0.000000,0.000000,0.287099,0.000000,0.000000,0.000000,0.287099,0.000000,0.000000,0.42869
2,0.442986,0.357398,0.296673,0.000000,0.000000,0.000000,0.357398,0.296673,0.000000,0.000000,0.296673,0.442986,0.000000,0.000000,0.296673,0.000000,0.000000,0.00000
3,0.000000,0.000000,0.000000,0.000000,0.392211,0.000000,0.632867,0.000000,0.000000,0.392211,0.262669,0.000000,0.392211,0.000000,0.262669,0.000000,0.000000,0.00000
4,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.00000